/* Include your CSS rules here */

#albumCoverContainer {
  width: 60%;
}
#partyContainer {
  width: 39%;
}
#albumCoverContainer, #partyContainer {
  display: inline-block;
  vertical-align: top;
}
#createPartyForm {
	width: 800px;
}
#createPartyForm h3 {
	margin: 8px 0 0 0;
	padding: 0;
}
#createPartyForm p {
	width: 270px;
}
#createPartyForm input {
	padding: 6px;
	width: 270px;
	border-radius: 6px;
	border: solid 1px #cccacb;
}
#map { 
height: 400px; 
width: 500px;
float: right;
}
form table th {
	text-align: right;
}
#createPartyForm .greenButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height: 46px;
	width: 133px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
	padding: 0;
}
.greenButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.greenButton:active {
	position:relative;
	top:1px;
}