/* Include your CSS rules here */
body {
	margin: 0;
	padding: 0;
}
#albumCoverContainer {
  float: left;
}
#partyContainer {
  width: 39%;
}
#albumCoverContainer, #partyContainer {
  display: inline-block;
  vertical-align: top;
}
#createPartyForm {
	width: 850px;
}
#createPartyForm h3 {
	margin: 12px 0 10px 0;
	width: 280px;
}
#createPartyForm p {
	width: 270px;
}
#createPartyForm input {
	padding: 6px;
	width: 270px;
	border-radius: 6px;
	border: solid 1px #cccacb;
}
#map {
height: 400px;
width: 530px;
float: right;
border-radius: 4px;
box-shadow: inset 0 1px 3px rgba(0,0,0, 0.2), inset 0 0 1px rgba(0,0,0, 0.4), 0 1px 0px rgba(255,255,255, 0.5);
}
form table th {
	text-align: right;
}
#createPartyForm .greenButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
	background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
	background-color:#b8e356;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	line-height: 46px;
	width: 133px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #86ae47;
	padding: 0;
}
.greenButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
	background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
	background-color:#a5cc52;
}.greenButton:active {
	position:relative;
	top:1px;
}
#increaseRadius, #decreaseRadius {
	min-width: 10px;
}
.topBar {
	margin: 10px 10px 6px 10px;
}
.spotify-underline {
	border-bottom: solid 1px #cac9c5;
	padding: 6px 0;
	margin: 0 0 10px 0;
font-size: 12px;
}
.title-width {
	width: 410px;
}
#partyNameTop {
	background: #FFF;
	padding: 5px 10px;
	font-size: 17px;
	margin: 0;
}
.right-logo {
	float: right;
	margin: 43px 40px 0 0;
}
#current-track-artist, #current-track-title {
	margin: 0 0 0 140px;
}
#current-track-artist {
	font-size: 20px;
}
#current-track-title {
	font-weight: normal;
	font-size: 16px;
	background: url(../images/icons/volume-icon.png) no-repeat left center;
	padding-left: 18px;
}
.clear {
	clear: both;
}
#startTheParty{
	float: right;
}
#connectPlantronics{
	float: right;
}
.extra-margin {
	margin-bottom: 20px;
}
.leftSidebar {
	margin-left: 10px;
}